/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: 100%;
}

/* Style the button and place it in the middle of the container/image */
/* For the MIDDLE button */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 5vw;
  padding: 1vw 2vw;
  border: none;
  cursor: pointer;
  border-radius: 1vw;
  outline-style: none; /* blauer rahmen verschwindet */
}

.container .btn:hover {
  background-color: black;
}

/* Style the button and place it in the middle of the container/image */
/* For the Bottom button left */
.container .btn2 {
  position: absolute;
  top: 85%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 5vw;
  padding: 1vw 2vw;
  border: none;
  cursor: pointer;
  border-radius: 1vw;
  outline-style: none; /* blauer rahmen verschwindet */
}

.container .btn2:hover {
  background-color: black;
}

/* Style the button and place it in the middle of the container/image */
/* For the Bottom button right */
.container .btn3 {
  position: absolute;
  top: 85%;
  left: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 5vw;
  padding: 1vw 2vw;
  border: none;
  cursor: pointer;
  border-radius: 1vw;
  outline-style: none; /* blauer rahmen verschwindet */
}

.container .btn3:hover {
  background-color: black;
}


.oben img, .oben canvas {
  position:absolute;
  top:5%;
  right:20%;
  left:25%;
  width: auto;
  height: 70%;
}
